@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin abscenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// Media queries manager
/*
0px - 600px     :    Phone
600px - 900px   :    Tablet Portrait
900px - 1200px  :    Tablet Landscape
1200px - 1800px :    normal style for DESKTOP FIRST APPROACH
1800px +        :    Big Desktop

//$breakpoint argument choices

-- phone
-- tab-port
-- tab-land
-- big-desktop
*/

//ORDER base + typography > general layout + grid > page layout > components

//1em = 16px;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px / 16 = 37.5em
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
